<h1 id="relationship-viewer">Relationship Viewer</h1>
<h2 id="introduction">Introduction</h2>
<p>This is a simple tool to visualize the relationships between dataflows. It is intended to be used for staging and testing purposes.</p>
<h2 id="usage">Usage</h2>
<p>In the top navigation bar, you will find three sections: </p>
<ul>
<li><p><strong>Singles</strong>: This section shows all the dataflows that have no dependencies and are not dependencies of any other dataflow.</p>
</li>
<li><p><strong>Parents With Parents</strong>: This section shows all the dataflows that have dependencies and are also dependencies of other dataflows.</p>
</li>
<li><p><strong>Parents Without Parents</strong>: This section shows all the dataflows that have dependencies but are not dependencies of any other dataflow.</p>
</li>
</ul>